body {
  background-color: #323641;
}

button {
  color: white;
  background-color: black;
}

.top-pane {
  background-color: black;
}

.editor {
  width: 32.5vw;
  display: block;
  min-height: 40vh;
}

.resizer {
  background-color: black;
  margin-top: 5vw;
}


iframe{
  border-top: 5px solid black;
}

.outputScreen {
  width: 98.5vw;
  height: 40vh;
  border: 0px;
  background-color: whitesmoke;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
