body {
  background-color: black;
}

button {
  width: 100%;
}

.editor {
  width: 100%;
  display: block;
  max-width: 45vw;
  min-width: 27vw;
  min-height: 40vh;
}

.resizer {
  background-color: white;
  /* zoom: 200%; */
  margin-top: 5vw;
}
